<template>
    <div id="page" class="gradient-border">
      <router-view class="router-view"></router-view>
    </div>
</template>

<script>
import io from "socket.io-client";
import HeaderComp from "@/components/HeaderComp.vue";

export default {
  name: 'App',
  data() {
    return {
      socket: {},
      // app mode should come from .env
      appMode:  'development',
    }
  },
  components: {
    HeaderComp
  },
  mounted(){
    if (this.appMode == "development") {
      console.log("Socket developpement");
      this.socket = io("localhost:3000");
    } 
    else {
      // This won't work since you need to add a valid domain on which your application is running for production.
      console.log("Socket production");
      this.socket = io("[production domain]");
    }
  }
}

</script>

<style scoped>


</style>
