<template>
  <div>
    <ChessBoardComp :userName="userName"></ChessBoardComp>
  </div>
</template>

<script>
  import jwt_decode from "jwt-decode";
  import ChessBoardComp from "@/components/ChessBoardComp.vue";

export default{
  data: () => {
    return{
      userName: "",
      chessGame: {}
    }
  },
  components: {
    ChessBoardComp
  },
  methods: {
  },
  mounted(){
    if (!localStorage.getItem('token')) {
      this.$router.push("/");
    }
    else {
      const decodedToken = jwt_decode(localStorage.getItem('token'));
      if (decodedToken.name) {
        this.userName = decodedToken.name;
      }
      else {
        this.$router.push("/");
      }
    }
  }
}
</script>


<style>

</style>
