<template>
  <div>
    <h1>Welcome to a simple multiplayer chess app !</h1>

    <form id="formName" @submit.prevent>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" v-model="name" placeholder="Enter your name" />
      </div>
      <div class="error-message">{{error}}</div>
      <button id="loginButton" @click="login()" class="btn btn-dark btn-lg btn-block">
          Join the waiting room
      </button>
    </form>
  </div>
</template>

<script>
  export default{
    name: 'HomeView',
    data: () => {
      return {
        name: "",
        error: ""
      }
    },
    methods: {
      login(){
        this.error = "";

        if(this.name !=  "" && this.name.length >= 3 && this.name.length <= 15){
          fetch("http://localhost:3000/api/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              name: this.name
            }),
          })
          .then(data => {
            data.json()
            .then(data => {
              localStorage.setItem("token", data.token);
              this.$router.push("/waiting-room")
            })

          })
        }
        else{
          this.error = "Name needs to be between 3 and 15 characters";
        }
      } 
    }
  }
</script>

<style scoped>
  #loginButton{
    margin-right: 29%;
    margin-top: 2%;
  }
  #formName{
    margin-top: 20%;
    width: 50%;
  }
  .error-message {
  color: black;
  font-size: 16px;
  line-height: 15px;
  margin-left: 1%;
  margin-top: 1%;
  text-align: left;
}
</style>
