<template>
  <div>
    <h1>Waiting for opponent</h1>
    <div class="loader"></div>
    <h2 v-if="userName != ''">{{ userName }}, you will be redirected automatically once another player joins the waiting room.</h2>

  </div>
</template>

<script>
  import jwt_decode from "jwt-decode";

export default{
  name: "WaitingRoom",
  data: () => {
    return{
      userName: ""
    }
  },
  methods:{
  },
  beforeRouteLeave(to, from, next) {
    this.$root.socket.emit("removeFromWaitingRoom", this.userName);
    next()
  },
  mounted(){
    
    if (!localStorage.getItem('token')) {
      this.$router.push("/");
    }
    else{
      const decodedToken = jwt_decode(localStorage.getItem('token'));
      if(decodedToken.name){
        this.userName = decodedToken.name;
        
        this.$root.socket.emit("addToWaitingRoom", this.userName)

      }
      else{
        this.$router.push("/");
      }
    }

    this.$root.socket.on("gameStart", (name1,name2,gameId) => {
      if(this.userName == name1 || this.userName == name2)
      {
        this.$router.push("/game/" + gameId);
      }
    })


  },
  beforeDestroy () {
    window.removeEventListener('beforeunload', this.beforeUnload)
  },
}
</script>


<style>
  h1{
    
  } 
  .content{
    margin: 50%;
  }
  .loader {
    margin: 15% auto;
    margin-bottom: 15%;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #111111;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
