<template>
    <div>
    <h1>{{ chessGame.whiteId }}, {{ userName }}</h1>
    <h3 id="etatPartie"
            style="border-bottom: 1px solid rgba(0, 0, 0, 0.2); padding: 0.5em; padding-bottom: 0; text-align: left;">
            {{ etatPartie }}</h3>  
    <div id="board"></div>
    </div>
</template>

<script>
export default {
    name: 'ChessBoardComp',
    props: ['userName'],
    data() {
        return {
            chessGame: {},
            isWhite: false,
            etatPartie: "",
            opponentName: "",
        }
    },
    methods: {
        getGame() {
            fetch('http://localhost:3000/api/game/' + this.$route.params.gameId, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    this.chessGame = data.chessGame;
                })
                .catch(error => console.error(error))
        }
    },
    mounted() {
        this.getGame();
        if(this.chessGame.whiteId == this.userName){
            this.isWhite = true;
            this.opponentName = this.chessGame.whiteId;
        }
        else{
            this.opponentName = this.chessGame.blackId;
        }


    }
}
</script>

<style scoped>

</style>